<form action="/links" method="post">
  New link:
  <input type="text" name="new_link">
  Title:
  <input type="text" name="title">
  Add a tag:
  <input type="text" name="tag">
  <input type="submit" value="Submit">
</form>
